body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.navbar-brand {
    font-family: 'Secular One', sans-serif;
}

.nav-item a:hover {
    color: var(--bs-info);
}

#banner {
    background-image: linear-gradient(to left, transparent, #141414, #1414141c 250%), url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    min-height: 600px;
}

#banner h1,
#banner h5 {
    color: var(--bs-white);
    margin-bottom: 10px;
    font-weight: 900;
}

#banner form {
    width: 50%;
    margin: 0 auto;
}

.background {
    display: flex;
    padding: 10% 10%;
    background-image: linear-gradient(to left, transparent, #141414, #1414141c 250%), url("../img/background.jpg");
    background-color: #14141434;
}

.text-center h5 {
    margin-top: 30px !important;
    margin-bottom: 10px;
    color: var(--bs-gray-600);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 30px;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.empty img {
    width: 200px;
}

.centralized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 15px;
    text-align: center;
    background-color: var(--bs-gray-600);
    color: var(--bs-white);
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: var(--bs-white);
    text-decoration: none;
}

footer a:hover {
    color: var(--bs-info);
    text-decoration: none;
}